---
import Layout from "../layouts/Layout.astro";
import ProfileForm from "../components/auth/ProfileForm";

// Ensure authenticated via middleware
---

<Layout title="Profile | toADHDo">
  <main class="container mx-auto py-6 px-4">
    <div
      class="space-y-6 relative w-4/5 mx-auto backdrop-blur-xl bg-gradient-to-b from-white/10 to-white/5 rounded-2xl shadow-2xl p-8 text-white border border-white/10"
    >
      <ProfileForm client:load />
    </div>
  </main>
</Layout>
