---
import Layout from "../layouts/Layout.astro";
import { TaskTableContainer } from "../components/tasks/TaskTableContainer";

// Redirect if not authenticated
// TODO: Uncomment this when we have a login page
// const session = await Astro.locals.auth.validate();
// if (!session) {
//   return Astro.redirect("/login");
// }
---

<Layout title="Tasks | toADHDo">
  <main class="container mx-auto py-6 px-4">
    <div class="flex flex-col gap-6">
      <TaskTableContainer client:load />
    </div>
  </main>
</Layout>
