---
import Layout from "../layouts/Layout.astro";
import { TaskTableContainer } from "../components/tasks/TaskTableContainer";
import { LogoutButton } from "@/components/ui/LogoutButton";

// Redirect if not authenticated
// TODO: Uncomment this when we have a login page
// const session = await Astro.locals.auth.validate();
// if (!session) {
//   return Astro.redirect("/login");
// }
---

<Layout title="Tasks | toADHDo">
  <main class="container mx-auto py-6 px-4">
    <div class="flex flex-col gap-6">
      <div class="flex justify-end items-center">
        <LogoutButton
          client:load
          variant="default"
          size="lg"
          className="text-blue-100 border-white/20 hover:bg-white/10"
        />
      </div>

      <TaskTableContainer client:load />
    </div>
  </main>
</Layout>
